<div class="container">
    <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary">
      <div
        class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
        <input class="fs-5 fw-semibold" [(ngModel)]="username" placeholder="Enter username" name="username"/>
      </div>
      <div class="list-group list-group-flush border-bottom scrollarea">
        @for (message of messages; track $index) {
       <div   
          class="list-group-item list-group-item-action py-3 lh-sm">
          <strong class="mb-1">{{ message.username }}</strong>
          <small class="text-body-secondary">{{ message.date || 'N/A' }}</small>
          <div class="col-10 mb-1 small">{{ message.message }}</div>
          
        </div>}
      </div>
      <form (submit)="submit()">
  
        <input class="form-control" placeholder="Enter message" name="message" [(ngModel)]="message" />
      </form>
    </div>
  </div>
  